.reset-password-page {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f9f9f9;
  }
  
  .reset-password-container {
    background: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    width: 300px;
  }
  
  .reset-password-container h2 {
    text-align: center;
    margin-bottom: 20px;
  }
  
  .reset-password-container form {
    display: flex;
    flex-direction: column;
  }
  
  .reset-password-container input {
    margin-bottom: 15px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
  }
  
  .reset-password-container button {
    padding: 10px;
    border: none;
    border-radius: 4px;
    background-color: #20c997; 
    color: white;
    font-size: 16px;
    cursor: pointer;
  }
  
  .reset-password-container button:disabled {
    background-color: #ccc;
  }
  
  .reset-password-container button:hover:not(:disabled) {
    background-color: #1aa68a
  }
  